#wrapper{
    width: 85%;
    margin: 0px auto;
}
#header_wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li a
{
    text-decoration: none;
    padding-right: 40px;
}
.hero{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
._h2{
    text-align: center;
}
.servicii{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.servicii_table{
    flex:1;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    border: 3px line black;
    border-radius: 15px;
}
.portofoilu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.portofoilu_element{
    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    border: 3px line black;
    border-radius: 15px;
}

.contact{
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}
.contact_info{
    flex:2;
}
.contact_form{
    display: flex;
    flex-direction: column#;
    flex:1;
}