#wrapper{
    width: 85%;
    margin: 0px auto;
}
#header_wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li a
{
    text-decoration: none;
    padding-right: 40px;
}
.hero{
    display: flex;
    flex-flow: row nowrap;
}
#hero_text{
    justify-content: center;
    align-items: center;
}