#wrapper{
    width: 85%;
    margin: 0px auto;
}
#header_wrapper{
    vertical-align: middle;
    justify-content: flex-start;
}
#menu{
    display: flex;
    justify-content: center;
    
}
#menu li{
    text-decoration: none;
}